#
# Service translations
#
# @language		en_US
#
# @license		More in license.md
# @copyright	https://fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:AuthNode!
# @subpackage	Translations
# @since		0.1.0
#
# @date			01.04.20
#

base:
	messages:
		notValidJson:
			heading	: "Not valid content"
			message	: "Provided request content is not valid JSON content"
		notValidJsonApi:
			heading	: "Not valid content"
			message	: "Provided request content is not valid {JSON:API} content"
		failed:
			heading	: "Request failed"
			message	: "Provided request failed and can't be finished"
		invalid:
			heading	: "Request failed"
			message	: "Provided request is invalid and can't be finished"
		identifierInvalid:
			heading	: "Entity identifier invalid"
			message	: "Provided entity identifier is not valid"
		unknownRelation:
			heading	: "Relation not found"
			message	: "Requested unknown relation"
		relationNotFound:
			heading	: "Relation not found"
			message	: "Requested relation %relation% was not found"
		missingRequired:
			heading	: "Missing required attribute"
			message	: "Provided request is missing required attribute or relation"
		notAuthorized:
			heading	: "Not authorized"
			message	: "You are not authorized to perform this action"
		forbidden:
			heading	: "Not allowed"
			message	: "You are not allowed to perform this action"
		uniqueConstraint:
			heading	: "Attribute not unique"
			message	: "Provided attribute is not unique"
		roleNotFound:
			heading	: "Role not found"
			message	: "Requested role was not found"
		resourceNotFound:
			heading	: "Resource not found"
			message	: "Requested resource was not found"

session:
	messages:
		unknownAccount:
			heading	: "Invalid attribute"
			message	: "Provided account credentials could not be found in our system"
		accountBlocked:
			heading	: "Forbidden"
			message	: "Access to our system is for this account disabled"
		accountDeleted:
			heading	: "Forbidden"
			message	: "This account has been deleted"
		notCreated:
			heading	: "System error"
			message	: "Something went wrong, session creation could not be finished"
		invalidRefreshToken:
			heading	: "Not found"
			message	: "Provided refresh token is invalid"
		refreshTokenExpired:
			heading	: "Not found"
			message	: "Provided refresh token is expired"
		refreshingTokenFailed:
			heading	: "System error"
			message	: "Something went wrong, token could not be refreshed"
		destroyingSessionFailed:
			heading	: "System error"
			message	: "Something went wrong, session could not be destroyed"

account:
	messages:
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, account could not be updated"

emails:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided email entity type is not valid"
		notFound:
			heading	: "Not found"
			message	: "Requested email address was not found"
		notValid:
			heading	: "Not processed"
			message	: "Provided email address is not valid"
		taken:
			heading	: "Not processed"
			message	: "Provided email address is already in use"
		notCreated:
			heading	: "System error"
			message	: "Something went wrong, email address could not be created"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, email address could not be updated"
		notDeleted:
			heading	: "System error"
			message	: "Something went wrong, email address could not be deleted"
		invalid:
			heading	: "Bad request"
			message	: "Request resource identifier is invalid"
		defaultNotDeletable:
			heading	: "Email is default"
			message	: "Default email address could not be deleted"

identities:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided identity entity type is not valid"
		notFound:
			heading	: "Not found"
			message	: "Requested identity was not found"
		invalidPassword:
			heading	: "Not processed"
			message	: "Provided current password is invalid"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, password could not be updated"
		notActivated:
			heading	: "Not processed"
			message	: "Account is not activated yet. Activation email was resend"
		blocked:
			heading	: "Not processed"
			message	: "This account is blocked"
		requestNotSent:
			heading	: "System error"
			message	: "Something went wrong, password reset request could not be processed"

roles:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided role entity type is not valid"
		notCreated:
			heading	: "System error"
			message	: "Something went wrong, role could not be created"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, role could not be updated"
		notDeleted:
			heading	: "System error"
			message	: "Something went wrong, role could not be deleted"
		systemNotDeletable:
			heading	: "Role is system"
			message	: "System role could not be deleted"

resources:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided resource entity type is not valid"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, resource could not be updated"

privileges:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided privilege entity type is not valid"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, privilege could not be updated"
		notFound:
			heading	: "Privilege not found"
			message	: "Requested privilege was not found"

rules:
	messages:
		invalidType:
			heading	: "Invalid type"
			message	: "Provided rule entity type is not valid"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, rule could not be updated"
		notFound:
			heading	: "Rule not found"
			message	: "Requested rule was not found"
