#
# Service DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:AuthNode!
# @subpackage	config
# @since		0.1.0
#
# @date			30.03.20

##############################
# Node predefined parameters #
##############################

parameters:
	origin: com.fastybird.auth-node

	rabbitmq:
		queueName: fb.auth.node.exchange

#########################
# Used Nette extensions #
#########################

extensions:
	contributteTranslation		: Contributte\Translation\DI\TranslationExtension
	ipubDoctrineConsistence		: IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
	ipubDoctrineCrud			: IPub\DoctrineCrud\DI\DoctrineCrudExtension
	ipubDoctrineTimestampable	: IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
	nettrineAnnotations			: Nettrine\Annotations\DI\AnnotationsExtension
	nettrineCache				: Nettrine\Cache\DI\CacheExtension
	nettrineDbal				: Nettrine\DBAL\DI\DbalExtension
	nettrineOrm					: Nettrine\ORM\DI\OrmExtension
	nettrineOrmAnnotations		: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrineOrmConsole			: Nettrine\ORM\DI\OrmConsoleExtension
	nettrineOrmCache			: Nettrine\ORM\DI\OrmCacheExtension
	nodeWebServer				: FastyBird\NodeWebServer\DI\NodeWebServerExtension
	nodeDatabase				: FastyBird\NodeDatabase\DI\NodeDatabaseExtension
	nodeJsonApi					: FastyBird\NodeJsonApi\DI\NodeJsonApiExtension

##################################
# Nette extensions configuration #
##################################

# Node web server
#################
nodeWebServer:
	server:
		address: %server.address%
		port: %server.port%

# Node translations
###################
contributteTranslation:
	locales:
		default: en_US
		fallback: [en_US, en]
	localeResolvers: []
	dirs:
		- %appDir%/src/Translations

# Doctrine DBAL
###############
nettrineDbal:
	connection:
		serverVersion: %database.version%
		host: %database.host%
		port: %database.port%
		driver: %database.driver%
		memory: %database.memory%
		dbname: %database.dbname%
		user: %database.username%
		password: %database.password%
		charset: utf8

		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false
			utcdatetime:
				class: IPub\DoctrineTimestampable\Types\UTCDateTime
				commented: false

		typesMapping:
			uuid_binary: binary

# Doctrine ORM annoations
#########################
nettrineAnnotations:
	debug: %debugMode%
	ignore:
		- writable
		- validator
		- module
		- author
		- subpackage
		- package
		- phpcsSuppress

# Doctrine ORM
##############
nettrineOrm:
	configuration:
		proxyDir	: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
	namespaces:
		- FastyBird\AuthNode\Entities
	paths:
		- %appDir%/src/Entities

#############################
# Node services definitions #
#############################

services:
	# Security
	##########

	- {factory: FastyBird\AuthNode\Helpers\SecurityHash}

	- {factory: FastyBird\AuthNode\Security\Authenticator}

	- {factory: FastyBird\AuthNode\Security\Authorizator}

	- {factory: FastyBird\AuthNode\Security\TokenReader}

	-
		factory: FastyBird\AuthNode\Security\TokenBuilder
		arguments:
			tokenSignature: %node.token.signature%

	# Define JWT services
	#####################

	- {factory: Lcobucci\JWT\Signer\Hmac\Sha256}

	- {factory: Lcobucci\JWT\Parser}

	# Nette services overwrite
	##########################

	security.user: FastyBird\AuthNode\Security\User
	security.userStorage: FastyBird\AuthNode\Security\UserStorage

	# Http router
	#############

	- {factory: FastyBird\AuthNode\Middleware\AccountMiddleware, tags: [middleware: {priority: 15}]}

	- {factory: FastyBird\AuthNode\Middleware\UrlFormatMiddleware, tags: [middleware: {priority: 150}]}

	- {factory: FastyBird\AuthNode\Middleware\AccessMiddleware}

	-
		factory: FastyBird\AuthNode\Router\Router
		setup:
			- registerRoutes

	# Console commands
	##################

	- {factory: FastyBird\AuthNode\Commands\Accounts\CreateCommand}

	- {factory: FastyBird\AuthNode\Commands\Roles\CreateCommand}

	# Events subscribers
	####################

	- {factory: FastyBird\AuthNode\Subscribers\EmailEntitySubscriber}

	- {factory: FastyBird\AuthNode\Subscribers\IdentityEntitySubscriber}

	# Database repositories
	#######################

	- {factory: FastyBird\AuthNode\Models\Accounts\AccountRepository}

	- {factory: FastyBird\AuthNode\Models\Emails\EmailRepository}

	- {factory: FastyBird\AuthNode\Models\Identities\IdentityRepository}

	- {factory: FastyBird\AuthNode\Models\Privileges\PrivilegeRepository}

	- {factory: FastyBird\AuthNode\Models\Resources\ResourceRepository}

	- {factory: FastyBird\AuthNode\Models\Roles\RoleRepository}

	- {factory: FastyBird\AuthNode\Models\Rules\RuleRepository}

	- {factory: FastyBird\AuthNode\Models\Tokens\TokenRepository}

	- {factory: FastyBird\AuthNode\Models\Vernemq\AccountRepository}

	# Database managers
	###################

	- {factory: FastyBird\AuthNode\Models\Accounts\AccountsManager(@ipubDoctrineCrud.crud::create(FastyBird\AuthNode\Entities\Accounts\Account))}

	- {factory: FastyBird\AuthNode\Models\Emails\EmailsManager(@ipubDoctrineCrud.crud::create(FastyBird\AuthNode\Entities\Emails\Email))}

	- {factory: FastyBird\AuthNode\Models\Identities\IdentitiesManager(@ipubDoctrineCrud.crud::create(FastyBird\AuthNode\Entities\Identities\Identity))}

	- {factory: FastyBird\AuthNode\Models\Privileges\PrivilegesManager(@ipubDoctrineCrud.crud::create(FastyBird\AuthNode\Entities\Privileges\Privilege))}

	- {factory: FastyBird\AuthNode\Models\Resources\ResourcesManager(@ipubDoctrineCrud.crud::create(FastyBird\AuthNode\Entities\Resources\Resource))}

	- {factory: FastyBird\AuthNode\Models\Roles\RolesManager(@ipubDoctrineCrud.crud::create(FastyBird\AuthNode\Entities\Roles\Role))}

	- {factory: FastyBird\AuthNode\Models\Rules\RulesManager(@ipubDoctrineCrud.crud::create(FastyBird\AuthNode\Entities\Rules\Rule))}

	- {factory: FastyBird\AuthNode\Models\Tokens\TokensManager(@ipubDoctrineCrud.crud::create(FastyBird\AuthNode\Entities\Tokens\Token))}

	# API controllers
	#################

	- {factory: FastyBird\AuthNode\Controllers\SessionV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\AccountV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\AccountEmailsV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\AccountIdentitiesV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\AccountRolesV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\AccountsV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\RolesV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\RoleChildrenV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\RoleRulesV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\ResourcesV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\ResourceChildrenV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\ResourcePrivilegesV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\PrivilegesV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\AuthNode\Controllers\RulesV1Controller, tags: [nette.inject]}

	# API schemas
	#############

	- {factory: FastyBird\AuthNode\Schemas\Accounts\UserAccountSchema}

	- {factory: FastyBird\AuthNode\Schemas\Emails\EmailSchema}

	- {factory: FastyBird\AuthNode\Schemas\Sessions\SessionSchema}

	- {factory: FastyBird\AuthNode\Schemas\Identities\UserAccountIdentitySchema}

	- {factory: FastyBird\AuthNode\Schemas\Identities\MachineAccountIdentitySchema}

	- {factory: FastyBird\AuthNode\Schemas\Roles\RoleSchema}

	- {factory: FastyBird\AuthNode\Schemas\Resources\ResourceSchema}

	- {factory: FastyBird\AuthNode\Schemas\Privileges\PrivilegeSchema}

	- {factory: FastyBird\AuthNode\Schemas\Rules\RuleSchema}

	# API hydrators
	###############

	- {factory: FastyBird\AuthNode\Hydrators\Accounts\UserAccountHydrator}

	- {factory: FastyBird\AuthNode\Hydrators\Emails\EmailHydrator}

	- {factory: FastyBird\AuthNode\Hydrators\Roles\RoleHydrator}

	- {factory: FastyBird\AuthNode\Hydrators\Resources\ResourceHydrator}

	- {factory: FastyBird\AuthNode\Hydrators\Privileges\PrivilegeHydrator}

	- {factory: FastyBird\AuthNode\Hydrators\Rules\RuleHydrator}
